body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

/* Header */
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Sections */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

/* Headings */
h2 {
    color: #333;
}

/* Skills List */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* IPL Projects Styling */
section nav ul {
    list-style: none;          /* remove square bullets */
    padding-left: 0;
}

section nav ul li {
    margin: 6px 0;
    font-weight: 500;
}

section nav ul li::before {
    content: "✔ ";
    color: black;
   
}

/* Project Links */
section nav ul li a {
    text-decoration: none;
    color: #030204;
    line-height: 2;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    header {
        padding: 20px;
    }
    section {
        margin: 10px;
    }
}
